<div *ngIf="characterList">
    <div class="search">
        <div class="search__wrap">
            <input type="text" [(ngModel)]="filter" id="search" placeholder="Search..." />
        </div>
    </div>
    <mat-paginator [length]="characterList.length" [pageSize]="pageSize" (page)="handlePage($event)" aria-label="Select page">
    </mat-paginator>
    <section>
        <div class="card" *ngFor="let character of (characterList| filterNames: filter| filterPage: pageSize: pageNumber)">
            <img [src]="character.image " alt="Pokemon image information ">
            <h3>{{character.name}}</h3>
        </div>
    </section>
</div>