<section>
    <h2>About</h2>
    <p>It was a very fun job, however it was also complex to familiarize with Angular because it is a framework with many capabilities and features, you can get to implement very cool things, however it has a very extensive documentation and a fairly long
        learning path, you have to pay close attention to this technology.</p>
    <h2>Gratefull</h2>
    <p>I thank my tutors for their perseverance and above all for their willingness to help the student, as well as the company for allowing me to learn the use of different technologies.</p>
    <h2>What about future projects?</h2>
    <p>It is hoped that we can continue to learn and create a favorable environment for business inclusion, also undoubtedly it has been an interesting work as the previous ones and in which new terms and applications are demonstrated and discovered. We
        expect many more applications and new challenges to be faced.</p>
</section>